
/*
#000000 (0, 0, 0) black
#1D2B53 (29, 43, 83) dark-blue
#7E2553 (126, 37, 83) dark-purple
#008751 (0, 135, 81) dark-green
#AB5236 (171, 82, 54) brown
#5F574F (95, 87, 79) dark-gray
#C2C3C7 (194, 195, 199) light-gray
#FFF1E8 (255, 241, 232) white
#FF004D (255, 0, 77) red
#FFA300 (255, 163, 0) orange
#FFEC27 (255, 236, 39) yellow
#00E436 (0, 228, 54) green
#29ADFF (41, 173, 255) blue
#83769C (131, 118, 156) indigo
#FF77A8 (255, 119, 168) pink
#FFCCAA (255, 204, 170) peach
*/


body {
  overflow: hidden;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  -webkit-user-select: none;
  user-select: none;
}


.room-after-room-score {
  font-size: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: 'Space Mono', monospace;
  z-index: 1;
}
